<% provide :title, t(".page_name") %>
<div class="jumbotron page-person">
  <h1 class="text-center"><%= t(".title") %></h1>
  <p class="text-center">
    <%= link_to t(".link_name"), Settings.link_about %>
    <%= t(".content") %>
  </p>
</div>

