/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

/config/master.key

/.rubocop.yml
/.rubocop_disabled.yml
/.rubocop_enabled.yml

/.ruby-version
/Gemfile.lock

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Ignore application configuration
/config/application.yml
