<div id="footer">
  <div class="container">
    <div class="jumbotron">
      <h5 class="text-center"><%= t(".title") %></h5>
      <div class="text-center">&copy; <%= t(".copy") %> </div>
    </div>
  </div>
</div>
